@media (min-width:1920px) {}



@media (max-width:1440px) {}




@media (max-width:1280px) {}





@media (max-width:992px) {

    .main-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-999px);
        -webkit-transform: translateX(-999px);
        -moz-transform: translateX(-999px);
        -ms-transform: translateX(-999px);
        -o-transform: translateX(-999px);
        z-index: 100;
    }

    .mini-main-sidebar {
        display: none;
    }

    #Close_mini_sidebar {
        display: none !important;
    }

    .responsive-main-sidebar {
        display: block;
        animation: ShowSidebar 1s ease forwards;
        -webkit-animation: ShowSidebar 1s ease forwards;
    }

    @keyframes ShowSidebar {
        100% {
            transform: none;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
        }
    }

    #Open_mini_sidebar {
        display: none;
    }


    #Responsive_Close_sidebar,
    #Responsive_Open_sidebar {
        display: flex;
    }


    .chat-wrapper .chat-connectivity {
        max-width: 240px;
    }

    .inventory_location-grid div:nth-child(1) {
        grid-column: span 1 / span 1;
    }

    .inventory_location-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }


    .setting-pages-grid {
        flex-direction: column;
        gap: 12px;
    }

    .setting-pages-grid .details-content {
        max-width: 100%;
        min-width: 100%;
    }

    .model.center-align_model {
        width: 100%;

    }

    .delete-model {
        display: flex;
        width: 100%;
        min-width: 0;
        max-width: 94%;
        margin: 0 auto;
    }


    .product-list .product {
        min-width: 200px;
        max-width: 200px;
    }

    .product-list .collection {
        min-width: 200px;
        max-width: 200px;
    }

    .product-list .availability {
        min-width: 150px;
        max-width: 150px;
    }

    .product-list .inventory {
        min-width: 210px;
        max-width: 210px;
    }

    .product-list .blank-section {
        min-width: 10px;
        max-width: 10px;
    }

    .product-list .row-status {
        min-width: 200px;
        max-width: 200px;
    }


    .main-table.order-list tr .Id {
        min-width: 75px;
        max-width: 75px;
    }

    .main-table.order-list tr .Date {
        min-width: 150px;
        max-width: 150px;
    }

    .main-table.order-list tr .Customer {
        min-width: 250px;
        max-width: 250px;
    }


    .main-table.order-list tr .Channel {
        max-width: 200px;
        min-width: 200px;
    }

    .main-table.order-list tr .Payment_status {
        min-width: 200px;
        max-width: 200px;
    }

    .main-table.order-list tr .Fulfillment_status {
        min-width: 200px;
        max-width: 200px;
    }

    .main-table.order-list tr .Total {
        width: 150px;
    }


    .main-table .item-section {
        min-width: 250px;
        max-width: 250px;
    }

    .main-table .variants-section {
        min-width: 250px;
        max-width: 250px;
    }

    .main-table .SKU-section {
        min-width: 150px;
        max-width: 150px;
    }

    .main-table .incoming-section {
        min-width: 120px;
        max-width: 120px;
    }

    .main-table .committed-section {
        min-width: 120px;
        max-width: 120px;
    }

    .main-table .available-section {
        min-width: 140px;
        max-width: 124px;
    }

    .table-footer .custom-dropdown-list {
        right: 0;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }


    .auth-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .auth-from-section .from {
        position: fixed;
        bottom: 0;
        max-width: 100%;
        margin-left: 0;
        left: 0;
        border-radius: 16px;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        max-height: 520px;
        overflow-y: auto;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }

}




@media (max-width:768px) {



    .table-content {
        padding: 16px 0;
    }


    .table-header {
        padding: 0 22px 16px;
        gap: 12px;
    }

    .table-footer {
        padding: 16px 22px 0;
    }

    .main-table tr {
        padding: 8px 22px;
    }


    .table-header .table-options {
        flex-wrap: wrap-reverse;
        justify-content: flex-end;
        column-gap: 20px;
        row-gap: 8px;
        width: 100%;
    }

    .table-about-tag {
        gap: 8px;
    }

    .chat-wrapper {
        position: relative;
    }

    .chat-wrapper .chat-connectivity {
        position: absolute;
        left: -999px;
        top: 0;
        z-index: 99;
        max-width: 100%;
        display: none;
        transform: translateX(-9990x);
        -webkit-transform: translateX(-9990x);
        -moz-transform: translateX(-9990x);
        -ms-transform: translateX(-9990x);
        -o-transform: translateX(-9990x);
        transition: transform 0.5s left 0.4s;
        -webkit-transition: transform 0.5s left 0.4s;
        -moz-transition: transform 0.5s left 0.4s;
        -ms-transition: transform 0.5s left 0.4s;
        -o-transition: transform 0.5s left 0.4s;
    }

    .chat-wrapper .chat-connectivity.chat-connectivity_show {
        animation: connectivity_show 1s ease;
        -webkit-animation: connectivity_show 1s ease;
        display: block !important;
        left: 0 !important;
    }

    @keyframes connectivity_show {
        100% {
            transform: none;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
        }
    }

    .open_chat-connectivity {
        display: flex;
    }


    .drawer-header,
    .drawer-body {
        padding: 18px 24px;
    }

    .drawer-footer {
        padding: 12px 24px;
    }

    .areas-list li {
        padding: 10px 24px;
    }

    .areas-list li .title {
        font-size: 12px;
    }

    .inventory_location-location-details-box .location-status-list {
        gap: 4px;
    }

    .inventory_location-padd {
        padding: 18px 26px;
        flex-wrap: wrap;
    }

    .address-form {
        gap: 18px;
    }

    .inventory_location-add-location-box .add_location_btn {
        width: 100%;
    }

    .inventory_location-location-details-box .first {
        padding: 18px 26px;
    }

    .inventory_location-location-details-box>*+* {
        padding: 18px 26px;
    }

    .location-details-flex-list li {
        flex-direction: column;
        align-items: flex-start;
    }

    .location-details-flex-list li .btn-regular {
        width: 100%;
    }

    .custom-dropdown-list {
        transform: none;
        left: auto;
        right: 100%;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }

    .setting-options-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .price-accordion {
        border-bottom: 1px solid var(--Grey-20);
        border-top: 1px solid var(--Grey-20);
        padding: 6px 0;
    }

    .price-list {
        align-items: flex-start;
        gap: 6px;
        flex-direction: column;
        padding: 6px 0;
    }

    .price-accordion .price-accordion-body .price-list {
        padding: 6px 0 !important;
    }

    .price-list .current-price {
        min-width: 100% !important;
        max-width: 100% !important;
        margin-left: 0 !important;
    }

    .drawer .table-resuits-count {
        display: none;
    }

    .drawer .table-pagination {
        width: 100%;
        justify-content: space-between;
    }

    .table-footer .custom-dropdown-list {
        right: -120%;
    }

}



@media (max-width: 560px) {

    .chat-message-box .message {
        padding: 4px 12px;
        border-radius: 4px;
        font-size: 12px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }

    .chat-message-box .message {
        max-width: 320px;
    }

    .chat-message-box.my-message-box .message {
        margin-right: 2px;
    }

    .chat-message-box.friend-message-box .message {
        margin-left: 2px;
    }

    .chat-message-box .message {
        margin-top: 8px;
    }

    .chat-message-section .chat-message-section-header .chating-options-group .btn {
        min-width: 32px;
        min-height: 32px;
        max-width: 32px;
        max-height: 32px;
    }

    .chat-message-section .chat-message-section-header .chating-options-group .btn .custom-dropdown-list {
        left: auto;
    }

    .tab-list .tab-button {
        width: max-content;
    }

    .tab-list {
        width: inherit;
        overflow-x: auto;
        padding-bottom: 12px;
    }


    .setting-options-grid .options {
        padding: 12px 18px;
    }

    .setting-options-grid .options .gap-24px {
        gap: 16px;
    }


    .address-form {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }


    .items-list-in-drawer .list-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-quantity-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

}


@media (max-width: 440px) {

    .chat-message-section-body .message-day-show-tag .daily-counter {
        font-size: 12px;
        padding: 4px 12px;
    }


    .table-footer {
        padding: 16px 16px 0;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 6px;
    }

    .table-footer .custom-dropdown-list {
        right: 0;
    }


    .table-pagination {
        gap: 12px;
        width: 100%;
        justify-content: space-between;
        padding: 0 12px;
    }


    .drawer-header,
    .drawer-body {
        padding: 14px 20px;
    }

    .drawer-footer {
        padding: 10px 20px;
    }

    .areas-list li {
        padding: 10px 20px;
    }


}